PORT=3001
REDIS_URL=redis://localhost:6379
CELESTRAK_BASE_URL=https://celestrak.org
SPACEX_API_URL=https://api.spacexdata.com/v4
NOAA_SWPC_URL=https://services.swpc.noaa.gov
TLE_API_URL=https://tle.ivanstanojevic.me/api/tle
ROCKETLAUNCH_LIVE_URL=https://fdo.rocketlaunch.live/json/launches/next/10
YOUTUBE_API_KEY=
